<!doctype html>
<html>
<head>
	<title>Dentist Appointment Portal</title>

	<!-- import the style sheets -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/styleHeadFoot.css">
</head>
<body>
	
    <!-- page header-->
    <header id = "brown">
        <h1>Patient Dentist Appointment Portal</h1>
    </header>

    
	    {{{body}}}
   

	<!--Footer, for patient to call the office-->
    <div class = "footer">
        <p>1500 SW Jefferson Way Corvallis, OR 97331 * P 541-737-1000 </p>    
    </div>

    <!-- Javascript to run the image carousel -->
    <script src="../javascript/carousel.js"></script>


</body>
</html>