<!-- Administration Login Page. The login is not functional. -->

    <!-- navigation menu -->
    <!-- use bootstrap bottom-->
    <nav class = "sitenav">
        <ul>    
            <li>
               <input type = "button" value = "Exit" onclick="window.location.href = '/';" name = "submit" class="btn btn-warning btn-lg">
            </li>
            <li id= "title">Admin Login</li>
        </ul>
    </nav>

    <!--Welcome message -->
    <h2>Welcome to Smile Savers! Let our family take care of yours.</h2>
   

     <!--- Learned from w3schools how to crate slideshows, display pictures-->
     <!--create two column layout-->
    <div class = "row">
        <!--left column with slide shows-->
        <div class = "column left"> 
            <div class="slideshow-container">

             <div class ="mySlides">
             <div class="numbertext"></div>
             <img src ="/images/cover1.png" alt="cover1" class="responsive">
             </div>

             <div class ="mySlides">
             <div class="numbertext"></div>
             <img src ="/images/cover4.png" class="responsive">
             </div>

             <div class ="mySlides">
             <div class="numbertext"></div>
             <img src ="/images/cover3.png" class="responsive">
             </div>
            </div>
        </div>

        <!--right column with dental procedures-->
        <div class = "column right"> 
          <div class = "container">

            <!-- The backend accepts any input and forwards the page to the administrator home page -->
            <form action = "/admin" method ="post" >
                <div class="form-group">     
                    <legend>Please enter your username and password</legend>

                    <label for="firstName">Username </label>
                    <input type="text" name="userName" placeholder="admin" id="userName">

                    <label for="password">Password </label>
                    <input type="password" name="password" placeholder="password" id="password">

                    <button type="submit" class="btn btn-warning" name="login" id="submitButton">Login</button>
                </div>
            </form>
            </div>
        </div>

        
 