<!-- Patient side home page -->

    <!-- navigation menu -->
    <!-- use bootstrap bottom-->
    <nav class = "sitenav">
        <ul>
            <li>
                <input type = "button" value = "Exit" onclick="window.location.href = '/';" name = "submit" class="btn btn-warning btn-lg">
            </li>
            <li>
                <input type = "button" onclick="window.location.href = '/make';" value = "Make Appointment" name = "submit" class="btn btn-info btn-lg">
            </li>
            <li>
                <input type = "button" onclick="window.location.href = '/change';" value = "Change Appointment" name = "submit" class="btn btn-success btn-lg"> 
            </li>
            <li>
                <input type = "button" onclick="window.location.href = '/viewAppointments';" value = "View Appointments" name = "submit" class="btn btn-red btn-lg">
            </li>
            <li>
                <input type = "button" onclick="window.location.href = '/cancel';" value = "Cancel Appointment" name = "submit" class="btn btn-purple btn-lg" >
            </li>
            <li id= "title">Home</li>
        </ul>
    </nav>

    <!--Welcome message -->
    <h2>Welcome to Smile Savers! Let our family take care of yours.</h2>
   

     <!--- Learned from w3schools how to crate slideshows, display pictures-->
     <!--create two column layout-->
    <div class = "row">
        <!--left column with slide shows-->
        <div class = "column left"> 
            <div class="slideshow-container">

             <div class ="mySlides">
             <div class="numbertext"></div>
             <img src ="/images/cover1.png" alt="cover1" class="responsive">
             </div>

             <div class ="mySlides">
             <div class="numbertext"></div>
             <img src ="/images/cover4.png" class="responsive">
             </div>

             <div class ="mySlides">
             <div class="numbertext"></div>
             <img src ="/images/cover3.png" class="responsive">
             </div>
            </div>
        </div>

        <!--right column with dental procedures-->
        <div class = "column right"> 
            <h3>We value prevention and will focus on helping you maintain a healthy and beautiful smile with state of the art technology.</h3>
            <h4>You can make limited appointments online:</h4>

             <ul class="dentalProcedures">
                 {{#if procedure}}
                    {{#each procedure}}
                        <li><strong>{{this.name}} : </strong> {{this.description}} </li> 
                    {{/each}}
                 {{/if}}
            </ul>

            <h4>Please call to make other appointments not listed above.</h4>
         </div>
        </div>

        